@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-white hover:text-blue-200;
  }

  .nav-button {
    @apply text-white hover:text-blue-200 cursor-pointer;
  }

  .header {
    @apply text-4xl font-bold text-gray-900 leading-tight mx-2.5 my-2.5 px-2.5 py-2.5 text-center
  }
  .subheader {
    @apply text-2xl font-bold text-gray-900 leading-tight mx-2.5 my-2.5 px-2.5 py-2.5 text-center
  }
  .transactions-table-wrapper {
    @apply w-1/2 container mx-auto px-4 sm:px-6 lg:px-8
  }

  .primary-button {
    @apply rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed
  }
  .secondary-button {
    @apply rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50
  }
}